*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(99, 18, 221);
    height: 70px;
    color: black;
    padding: 25px 60px ;
    margin-bottom: 30px;
}
.cart{
    position: relative;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 14px;
}
.cart-amount{
    position: absolute;
    top: -3px;
    right: 18px;
    font-size: 20px;
    color: black;
    
}



/* ITEMS IN THE STORE --------------------------------------------------- */




.store-items{
    margin-top: 40x;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,304px);
    gap: 30px;
}
.container{
    border: 2px solid black;
    height: 315px;
   
}
.container img{
    height: 201px;
}
.details{
   
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.btn{
    padding: 7px 30px;
}